    <footer>
      Made with <a href="https://expressjs.com">Express.js</a> and <a href="https://ejs.co/">EJS</a>
    </footer>
    <script src="scripts/script.js" type="module" defer></script>
  
    