<!DOCTYPE html>
<html lang="en">

<head>
  <title>Image upload</title>
  <%- include('../partials/head') %>
</head>

<body>

  <main class="main-wrapper">

    <%- include('../partials/nav'); %>

    <header>
      <h1>Image uploader</h1>
      Using Node, Express and Multer to upload and display images.
    </header>
    
    <section class="content">

      <form action="/upload" method="post" enctype="multipart/form-data">
        <input type="file" name="file" accept="image/*" />
        <input type="submit" value="Upload file" />
      </form>

    </section>

    <%- include('../partials/footer'); %>

  </main>

</body>
</html>